/* Styles for photo page */

.photos-container .headline, .photos-container #creditfooter {
    display: none !important;
}

.photos-container li small, .photos-container li h2, .photos-container li br {
    display: none;
}

.photos-container li, .photos-container div, .photos-container a, .photos-container div img {
    margin: 0;
    padding: 0;
    display: inline;
}

.photos-container div img {
    display: block;
    width: 436px;
    border: 5px solid #424242;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {

    .photos-container div img {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {

    .photos-container {
        margin-left: -20px;
        margin-right: -20px;
    }

    .photos-container div img {
        border: 0;
        margin-bottom: 5px;
    }

}