@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic');

@keyframes fadein {
	from {
		margin-top: 10px;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body, html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	color: #424242;
	font-family: 'Arimo', sans-serif;
	font-size: 24px;
	line-height: 30px;
}

a {
	color: #03A9F4;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: #01579B;
	text-decoration: underline;
}

a, img { /* Fix image and link outlines in Internet Explorer */
	border: none;
	outline: none;
}

h1 {
	font-size: 80px;
	line-height: 85px;
}

.desktop-hide {
	display: none;
}

/* Navigation */

.desktop-nav, .mobile-nav {
	position: fixed;
	z-index: 100;
	background-color: #FAFAFA;
	text-align: center;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(66,66,66,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(66,66,66,1);
	box-shadow: 0px 0px 8px 0px rgba(66,66,66,1);
	border-radius: 30px;
}

.desktop-nav {
	top: 10px;
	left: 0;
	right: 0;
	width: 700px;
	margin: 0 auto;
	font-size: 25px;
	line-height: 25px;
}

.mobile-nav {
	bottom: 10px;
	left: 10px;
	right: 10px;
	flex-direction: row;
	justify-content: space-between;
	font-size: 40px;
	line-height: 40px;
}

.mobile-nav a:first-of-type {
	margin-left: 10px;
}

.mobile-nav a:last-of-type {
	margin-right: 10px;
}

.desktop-nav a {
	font-weight: bold;
	margin-right: 50px;
}

.desktop-nav a:last-of-type {
	margin-right: 0;
}

.desktop-nav a:hover, .mobile-nav a:hover {
	text-decoration: none;
}

.desktop-nav a:hover {
	color: #03A9F4;
	border-bottom: 5px solid #03A9F4;
}

.mobile-nav {
	display: none;	
}

/* Main layouts */

.content {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	z-index: 1;
	padding: 70px 50px 50px 50px;
	animation: fadein 1s;
}

.content:last-of-type {
	margin-bottom: 0;
}

.content-main {
	padding: 50px;
	display: inline-flex;
	align-items: center;
}

.content-main span {
	text-align: center;
	margin: 0 auto;
	max-width: 780px;
}

.content-scroll {
	margin: 0 auto;
	max-width: 900px;
	padding: 50px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	overflow-y: auto;
	overflow-x: hidden;
}

.content-scroll::-webkit-scrollbar {
	width: 10px;
}

.content-scroll::-webkit-scrollbar-track {
	background: #F1F1F1;
	border-radius: 5px;
}

.content-scroll::-webkit-scrollbar-thumb {
	background: #424242;
	border-radius: 5px;
}

.content-scroll::-webkit-scrollbar-thumb:hover {
	background: #303030; 
}

.install-button-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.install-button-container img {
	margin-right: 0;
}

/* Feedburner styles */

.feedburnerFeedBlock ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feedburnerFeedBlock ul li {
	margin-top: 40px;
	margin-bottom: 40px;
}

.feedburnerFeedBlock ul li div {
	text-align: justify;
}

.feedburnerFeedBlock .headline {
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
}

.feedburnerFeedBlock .date {
	font-style: italic;
}

.feedburnerFeedBlock #creditfooter {
	display: none;
}

/* Tablets/small PC screens */

@media screen and (max-width: 800px) {

	h1 {
		font-size: 60px;
		line-height: 65px;
	}

	.content {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		padding: 10px;
	}

	.desktop-nav {
		width: calc(100% - 100px);
		left: 30px;
		right: 30px;
	}

	.desktop-nav a {
		margin-right: 15px;
	}

}

/* Phones */

@media screen and (max-width: 600px) {

	body {
		font-size: 22px;
		line-height: 24px;
	}

	.desktop-nav {
		display: none;
	}

	.mobile-nav {
		display: flex;
	}

	h1 {
		font-size: 40px;
		line-height: 45px;
	}

	h2 {
		font-size: 35px;
		line-height: 40px;
	}

	.desktop-hide {
		display: block;
	}

	.content, .content-scroll {
		padding: 20px 20px 100px 20px;
		width: calc(100% - 40px);
		height: calc(100% - 120px);
	}

	.content-scroll::-webkit-scrollbar {
		width: 6px;
	}

}

/* Smaller phones */

@media screen and (max-width: 350px) {

	body {
		font-size: 18px;
		line-height: 20px;
	}

	h1 {
		font-size: 30px;
		line-height: 35px;
	}

	h2, .feedburnerFeedBlock .headline {
		font-size: 25px;
		line-height: 30px;
	}

	h3 {
		font-size: 20px;
		line-height: 35px;
	}

	.mobile-nav {
		font-size: 30px;
		line-height: 30px;
		padding: 10px;
	}

	.content, .content-scroll {
		padding: 20px 20px 60px 20px;
		width: calc(100% - 40px);
		height: calc(100% - 80px);
	}

}

/* Reeeaaaalllly small screens */

@media screen and (max-width: 250px) {

	body {
		font-size: 16px;
		line-height: 20px;
	}

	h1 {
		font-size: 25px;
		line-height: 30px;
	}

	h2, .feedburnerFeedBlock .headline {
		font-size: 20px;
		line-height: 25px;
	}

	h2 {
		font-size: 18px;
		line-height: 22px;
	}

	.mobile-nav {
		font-size: 20px;
		line-height: 20px;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 0;
	}

	.mobile-nav a:first-of-type {
		margin-left: 0;
	}
	
	.mobile-nav a:last-of-type {
		margin-right: 0;
	}

}

/* Dark mode for Safari */

@media (prefers-color-scheme: dark) {

	body, .desktop-nav, .mobile-nav {
		background-color: #262626;
		color: #FAFAFA;
	}
	
}

/* Disable animations on user request */

@media (prefers-reduced-motion: reduce) {
	
	a {
		transition: 0ms !important;
	}

}